@media (max-width: 768px) {
  .main {
    .main-content {
      @include dFlex(start, center);
      text-align: center;
      flex-direction: column-reverse;
      row-gap: 60px;

      .main-text {
        padding-bottom: 30px;
        padding: 0 20px;
      }
    }
  }

  .skills-section {
    .skills-title {
      text-align: center;
    }
  }

  .projects-section {
    .projects-title {
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .main {
    .main-content {
      .main-text {
        h1 {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
  }

  .footer-content {
    margin-top: 60px;
    padding: 40px 0;
    flex-direction: column;
    row-gap: 50px;
  }
}
