@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
@import "./variables";

@mixin dFlex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Heebo", sans-serif;
}

header {
  height: 80px;

  .header-content {
    @include dFlex(space-between, center);
    height: 80px;

    .logo {
      color: $primaryColor;
      font-size: 28px;
    }

    .nav-list {
      display: flex;
      column-gap: 40px;

      li {
        a {
          font-size: $largeFont;
          color: $primaryColor;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.main {
  padding-top: 140px;
  .main-content {
    @include dFlex(space-between, start);

    .main-text {
      width: 506px;
    }
  }
}
